.cocktails {
  &-wrapper {
    width: 100%;
  }

  &-box {
    padding: 25px 10px;
    &-header {
      height: 65px;
      text-align: center;
      color: rgb(241, 34, 34);
    }

    &-container {
      display: flex;
      justify-content: space-between;

      &__left {
        flex: 0 0 49%;
      }

      &__right {
        flex: 0 0 49%;
      }

      & ul {
        & li {
          display: flex;
          flex-wrap: wrap;
          padding: 5px;
        }
      }
    }
  }

  &-text {
    &-name {
      flex: 0 0 85%;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 600;
    }

    &-price {
      flex: 0 0 15%;
      text-align: right;
      font-size: 12px;
      font-weight: 300;
    }

    &-description {
      flex: 0 0 85%;
      font-size: 12px;
      font-weight: 300;
      line-height: 1;
      margin-top: -2px;
    }
  }
}
